body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #1F1F1F;
    border-radius: 10px;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.header-left h1 {
    margin: 0;
    font-size: 24px;
}

.message {
    background-color: #333333;
    padding: 10px;
    border-radius: 10px;
    margin: 20px 0;
    overflow: hidden;
    white-space: nowrap;
}

.message p {
    display: inline-block;
    margin: 0;
    padding-left: 100%;
    animation: scroll 20s linear infinite; /* Adjust duration as needed */
    color: #FFB800;
}

@keyframes scroll {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.post {
    background-color: #333333;
    padding: 20px;
    border-radius: 10px;
}

.post img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.details p,
.details ul {
    margin: 8px 0;
}

.details a {
    color: #00BFFF;
    text-decoration: none;
}

.details a:hover {
    text-decoration: underline;
}

.download-button,
.status-button {
    margin-top: 20px;
    text-align: center;
}

.download-button button,
.status-button button {
    background-color: #00BFFF;
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
}

.download-button button:hover,
.status-button button:hover {
    background-color: #0088CC;
}


.logos {
    margin-top: 10px;
}

.logos img {
    width: 50px; /* Adjust size as needed */
    margin: 0 10px; /* Adjust spacing between logos */
}